<section class="hero has-text-centered" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h1 class="is-size-1 is-uppercase has-text-weight-bold has-text-black is-marginless">
                        About Us
                    </h1>
                    <p class="is-size-5">{{site.author-about}}</p>
                </div>
            </div>
        </div>
</section>