<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-2 is-uppercase has-text-weight-bold has-text-black is-marginless">
                Contact
            </h1>
            <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                Location
            </h3>
            <div class="column">
                <p>
                22F Two IFC<br>
                10, Gukjegeumyung-ro, Yeongdeungpo-gu, Seoul<br>
                Republic of Korea
                </p>
            </div>
            <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                Email
            </h3>
            <div class="column">
                <p>
                    contact@unhedged.kr
                </p>
            </div>
            <img src="{{site.url}}{{site.baseurl}}/assets/images/unhedged_transparent_cut.png"/>
        </div>
    </div>
</section>
