<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h1 class="is-size-2 is-uppercase has-text-weight-bold has-text-black is-marginless">
                        Contact
                    </h1>
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                        Location
                    </h3>
                    <p>
                        22F Two IFC<br>
                        10, Gukjegeumyung-ro, Yeongdeungpo-gu, Seoul<br>
                        Republic of Korea
                    </p>
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                        Email
                    </h3>
                    <p>
                        contact@unhedged.kr
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
