<section class="hero is-fullheight has-text-centered " id="what-we-do">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h1 class="is-size-2 is-uppercase has-text-weight-bold has-text-black is-marginless">
                        What We Do
                    </h1>
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                        Research
                    </h3>
                    <p>{{site.who-we-are.research}}</p>
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                        Database
                    </h3>
                    <p>{{site.who-we-are.database}}</p>
                </div>
            </div>
        </div>
</section>