---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include what-we-do.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    var navHeight = document.querySelector('#navbar-menu').offsetHeight;
    var aboutHeight = document.querySelector('#about').offsetTop - navHeight;
    var whatWeDoHeight = document.querySelector('#what-we-do').offsetTop - navHeight;
    var contactHeight = document.querySelector('#contact').offsetTop - navHeight;


    if (scroll < aboutHeight) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > aboutHeight && scroll < whatWeDoHeight) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > whatWeDoHeight && scroll < contactHeight) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > contactHeight) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.add('is-active');
    }
  });
</script>

</html>